rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // By default, deny all reads and writes
    match /{document=**} {
      allow read, write: if false;
    }

    // Allow users to read and write their own profile
    match /userProfile/{userId} {
      allow read, create: if request.auth.uid == userId;
    }

    // Allow users to read and create their own bookings
    match /booking/{bookingId} {
      allow read, create: if request.auth.uid == resource.data.user;
    }

    // Allow admin user to list all bookings for the dashboard
    match /booking/{bookingId} {
      allow list: if get(/databases/$(database)/documents/userProfile/$(request.auth.uid)).data.role == 'admin';
    }
  }
}
